<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <meta
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
            name="viewport"
        />
        <meta name="viewport" content="width=device-width" />

        <title>Highend-Technology</title>

        <!-- CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet" />
        <link href="/css/coming-sssoon.css" rel="stylesheet" />

        <!--     Fonts     -->
        <link
            href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css"
            rel="stylesheet"
        />
        <link
            href="http://fonts.googleapis.com/css?family=Grand+Hotel"
            rel="stylesheet"
            type="text/css"
        />

        <!--     Favicon Icon    -->
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    </head>

    <body>
        <nav
            class="navbar navbar-transparent navbar-fixed-top"
            role="navigation"
        >
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                    >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div
                    class="collapse navbar-collapse"
                    id="bs-example-navbar-collapse-1"
                >
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                            >
                                <img src="/images/flags/BR.png" />
                                Português
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="en_us"
                                        ><img src="/images/flags/US.png" />
                                        English(US)</a
                                    >
                                </li>
                                <li>
                                    <a href="en_uk"
                                        ><img src="/images/flags/GB.png" />
                                        English(UK)</a
                                    >
                                </li>
                                <li>
                                    <a href="es"
                                        ><img src="/images/flags/ES.png" />
                                        Español</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

  <!-- Video Background -->
        <div class="main" style="background-image: url('/images/HT.png')">
            <video
                id="video_background"
                preload="auto"
                autoplay="true"
                loop="loop"
                muted="muted"
                volume="0"
            >
                <source src="/images/code.mp4" type="video/mp4" />
            </video>
            <!--    Change the image source '/images/video_bg.jpg')" with your favourite image.     -->

            <div class="cover black" data-color="black"></div>

            <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

            <div class="container">
                <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
                <h1 class="logo">Highend-Technology</h1>

                <!--  Description regarding the company and service -->
                <div class="content">
                    <h4 class="motto">
                        A Highend-Technology tem o propósito de ajudar startups
                        de tecnologia a fazerem suas ideias acontecerem o mais
                        rápido possível.
                    </h4>
                    <div class="subscribe">
                        <h5 class="info-text">
                            Nos queremos te ajudar a colocar a sua ideia e seu
                            negócio para funcionar, com baixo custo e alta
                            qualidade. Desenvolvendo projetos que possibilitem a
                            escalabilidade do seu negócio com facilidade e
                            conforme a sua demanda. Entre em contato conosco e
                            nos conte a sua ideia. Faremos o possível para
                            transformar a sua ideia no produto que você deseja.
                        </h5>
                        <div class="row">
                            <div
                                class="
                                    col-md-4
                                    col-md-offset-4
                                    col-sm6-6
                                    col-sm-offset-3
                                "
                            >
                                <!-- Form to collect information from the use to save in Database -->
                                <form
                                    class="form-inline"
                                    role="form"
                                    action="/sendpt"
                                    method="POST"
                                >
                                    <div class="form-group">
                                        <label
                                            class="sr-only"
                                            for="exampleInputName"
                                            >Nome</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control transparent"
                                            name="name"
                                            placeholder="Nome..."
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="sr-only"
                                            for="exampleInputEmail2"
                                            >Endereço de Email</label
                                        >
                                        <input
                                            type="email"
                                            class="form-control transparent"
                                            name="email"
                                            placeholder="Seu email aqui..."
                                        />
                                    </div>
                                    <button
                                        type="submit"
                                        class="btn btn-warning btn-fill"
                                    >
                                        Enviar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer with Copyright and year -->
            <div class="footer">
                <div class="container">
                    <p class="mt-5 mb-3 text-muted">
                        &copy; 2021 Highend-Technology.
                    </p>
                </div>
            </div>
        </div>
    </body>
    <!-- Scripts -->
    <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
</html>
